/*公共图标*/
.go{
position: fixed;
right: 36px;
top: 30px;
z-index: 666;
}
.more{
	position: fixed;
	right: 60px;
  bottom: 60px;
	z-index: 666;
	animation: more 0.4s linear infinite alternate;
}
.screen1{
  background: url("../images/01-bg.png") no-repeat center bottom;
}
.content{
	  width: 900px;
    height: 600px;
 
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -450px;
}
.screen1 .goods{
    text-align: center;
    margin-top:230px;
}
.screen1 .sofa{
    position: absolute;
    left: 230px;
    top: 150px;
    animation: sofa1 0.8s linear infinite alternate;
}
.screen1 .fly{
    position: absolute;
    right: -50px;
    top: 20px;
    animation: fly1 1.4s linear infinite alternate;
}
@keyframes more{
	from{
		transform: translateY(10px);
	}
	to{
		transform: translateY(-10px);
	}
}
@keyframes fly1{
	 from{
     transform: translateY(30px);
	 }
	 to{
     transform: translateY(-30px);
	 }
}
@keyframes sofa1 {
	from{
		transform: translateY(8px);
	}
	to{
		transform: translateY(-8px);
	}
}
/*第二页*/
.screen2{
	background: url("../images/02-bg.png") no-repeat center bottom;
}
.screen2 .goods{
    position: absolute;
    left: 50%;
    margin-left: -220px;
    bottom: 210px;
    transform-origin: right bottom;
    transform: scale(0);
}
.screen2 .sofa{
	  transform: scale(0.5);
    position: absolute;
    left: 292px;
    top: 132px;
    opacity: 0;
    z-index: 666;
}
.screen2 .input{
	position: absolute;
	right: 156px;
  top: 113px;
  transform: scale(0.9);
  opacity:0;
}
.screen2 .input img:last-child{
	position: absolute;
	right: 60px;
  top: 6px;
  opacity: 0;
}
.screen2 .text{
	position: absolute;
  left: 50%;
  margin-left: -180px;
  top: 24px;
}
.screen2 .text img:first-child{
	position: absolute;
  opacity: 0; 
}
.screen2.now .text img:first-child{
	position: absolute;
	opacity: 1;
  transition: all 1s linear 1s;
}
.screen2.now .goods{
    transform: scale(1);
    transition: all 1s linear 2s;
}
.screen2.now .input{
  /*forwards//动画保持*/
  /*backwords动画回到原点*/
 animation: key 3s linear forwards;
}
.screen2.now .input img:last-child {
  opacity: 1;
  transition: opacity 1s linear 1.5s;
}
@keyframes key{
  0%{
    transform: translate(2000px,130px);
    opacity: 1;
  }
  33.3%{
    transform:translate(-180px,130px);
  }
  66%{
    transform: translate(-180px,130px);
  }
  100%{
    opacity: 1;
    transform:scale(0.9);
  }
}
/*离开第二页到第三页*/
.screen2.leaved .sofa{
  animation:sofa02 1s linear;
}
@keyframes sofa02{
from{
 opacity: 1; 
}
to{
  opacity: 1;
  transform: translate(-80px,700px) rotate(15deg);
}
}
/*第三页**/
.screen3{
  background:url("../images/03-bg.png") center bottom no-repeat;
}
.screen3 .sofa{
position: absolute;
left: 208px;
top: 188px;
opacity: 0;
z-index: 666;
}
.screen3.now .sofa{
  opacity: 1;
  transition:opacity linear;
}
.screen3 .change{
  position: absolute;
  right: 410px;
  top: 292px;
}
.screen3 .cart{
  position: absolute;
  right: 410px;
  top: 445px;
}
.screen3 .change img:last-child{
  position: absolute;
  opacity: 0;
}
.screen3 .cart img:last-child{
  position: absolute;
  opacity: 0;
}
.screen3 .change img:first-child{
  position: absolute;
  opacity: 1;
}
.screen3 .cart img:first-child{
  position: absolute;
  opacity: 1;
}
.screen3.now .change img:first-child{
  opacity: 0;
  transition:opacity linear;
}
.screen3.now .cart img:first-child{
  opacity: 0;
  transition:opacity linear;
}
.screen3.now .change img:last-child{
  opacity: 1;
  transition:opacity linear;
}
.screen3.now .cart img:last-child{
  opacity: 1;
  transition:opacity linear;
}
/*第三页进入第四页*/
.screen3.leaved .sofa{
  animation:sofa3 1s linear;
}
@keyframes sofa3{
  from{
  }
  to{
    transform: translate(210px,630px) rotate(35deg);
  }
}
.screen4{
  background:url("../images/04-bg.png") center bottom no-repeat;
}
.screen4 .cloud{
 position: absolute;
 top: -60px;
 left: -190px;
 opacity: 0;
}
.screen4 .cloud{
animation:cloud 20s linear infinite;
}
@keyframes cloud{
  from{
    opacity: 1;
    transform: translate(-800px);
  }
  to{
    opacity: 1;
    transform: translate(1200px);
  }
}
.screen4 .text{
	position: absolute;
  left: 50%;
  margin-left: -180px;
  top: 75px;
}
.screen4 .text img:first-child{
	position: absolute;
  opacity: 0; 
}
.screen4.now .text img:first-child{
	position: absolute;
	opacity: 1;
  transition: all 1s linear 2s;
}
.screen4 .cart{
  position: absolute;
  bottom: 40px;
  right: 236px;
  z-index: 666;
}
.screen4 .sofa{
position: absolute;
top: 186px;
right: 273px;
opacity: 0;
transform: rotate(35deg);
}
.screen4 .address{
  position: absolute;
  bottom: 170px;
  right: 271px;
  opacity: 0;
}
.screen4 .address img:last-child{
  position: absolute;
  top: 10px;
  right: 236px;
  top: 62px;
  right: 59px;
  opacity: 0;
}
.screen4.now .cart{
transition: all 5s;
transform: translateX(1000px);
}
.screen4.now .sofa{
 opacity: 1;
 transform: translateX(1000px);
 transition: transform 5s;
}
.screen4.now .address{
  opacity: 1;
  transition: opacity 1s linear 0.8s;
}
.screen4.now .address img:last-child{
  opacity: 1;
  transition: opacity 1s linear 1.6s;
}
/*第五屏动画*/
/*=====================================================================================*/
.screen5{
  background:url("../images/05-bg.png");
}
.screen5 .sofa{
  position: absolute;
  bottom: 100px;
  left: 100px;
  transform:translateY(-150px) rotate(30deg);
  z-index:555;
}
.screen5 .card{
  position: absolute;
  left: 0;
  top: 180px;
}
.screen5 .card .cardImg{
  position: relative;
  z-index:666; 
}
.screen5 .card .orderImg{
  position: absolute;
  top: -80px;
  left: 130px;
  transform: translateY(80px);
}
.screen5 .mouse{
  position: absolute;
  right: 0;
  top: 0;
  height: 100%；
}
.screen5 .box{
  height: 600px;
  width: 250px;
  position: relative;
  top: -38px;
  overflow: hidden;
}
.screen5 .mouse .m1,
.screen5 .mouse .m2{
  position: absolute;
  top: -430px;
  right: 0;
}
.screen5 .mouse .m2{
  opacity: 0;
}
.screen5 .mouse .hand{
  position: absolute;
  top: 240px;
  right: 50px;
  transform: translateY(500px);
}
.screen5.now .mouse .hand{
  transition: all 1s linear;
  transform: none;
}
.screen5.now .mouse  .m2{
  transition: all 0.2s linear 1s;
  opacity: 1;
}
.screen5.now .sofa{
 animation: sofa5 2s linear 1.2s forwards;
}
@keyframes sofa5{
  0%{
    transform:translateY(-1000px) rotate(30deg);
    opacity: 1;
  }
  50%{
   transform:translateY(-150px) rotate(30deg);
  }
  100%{
   transform:rotate(30deg);
    opacity: 1;
  }
}
.screen5.now .card .orderImg{
  transform: none;
  transition: transform 1s linear 2.2s;
}
/*===========================================================================================*/
/*沙发运动*/
.screen5.leaved .sofa{
  animation:sofa6 1s linear ;
}
@keyframes sofa6{
  from{
    transform:rotate(30deg);
  }
  to{
    transform:translateY(450px) rotate(30deg) scale(0.2);
  }
}
/*第六屏**/
.screen6{
  background: url("../images/06-bg.png") no-repeat 25% bottom;
}
.screen6.now{
  background: url("../images/06-bg.png") no-repeat 100% bottom;
  transition:background 2s linear 1s; 
}
.screen6 .cloud img:first-child{
  position: absolute;
  top: -40px;
  left: 0px;
}
.screen6 .cloud img:last-child{
  position: absolute;
  top: -46px;
  right: -40px;
}
.screen6 .cloud img:first-child{
animation:cloud1 26s linear infinite;
}
@keyframes cloud1{
  from{
    transform: translateX(-800px);
  }
  to{
    transform: translateX(1200px);
  }
}
.screen6 .cloud img:last-child{
animation:cloud2 60s linear infinite alternate;
}
@keyframes cloud2{
  from{
  top: -46px;
  right: -40px;
  }
  to{
    transform: translateX(1000px);
  }
}
.screen6 .box{
  position: absolute;
  bottom: 334px;
  left: 154px;
  z-index: 700;
}
.screen6 .box.show{
  animation: box  2s linear forwards;
}
@keyframes box{
 0%{
 transform: translateX(-400px);
 }
 50%{
  transform: none;
 }
 100%{
  transform: translateY(330px) scale(0.3);
 }
}
.screen6 .car .carImg{
  position: absolute;
  bottom: 0;
  left: 100px;
  z-index:800;
}
.screen6 .car .buyer{
  position: absolute;
  bottom: 117px;
  left: 263px;
  opacity: 0;
}
.screen6.now .car .buyer{
  opacity: 1;
  transition: opacity 0.5s linear 1.2s;
}
.screen6 .car .address{
  position: absolute;
  bottom: 117px;
    left: 263px;
    opacity: 0;
}
.screen6.now .car .address{
  opacity: 1;
  transition: opacity 0.5s linear 2.5s;
}
.screen6 .worker{
  position: absolute;
  bottom: -5px;
  left: 96px;
  z-index: 900;
  transform:scale(0);
  transform-origin:left bottom;
}
.screen6.now .car .worker{
  animation: worker 3s linear 3s forwards;
}
@keyframes worker{
from{
transform:scale(0);
}
30%{
  transform:none;
}
60%{
  transform: translateY(-110px);
}
100%{
  transform: translate(200px,-110px);
}
}
.screen6 .say{
  position: absolute;
  bottom: 350px;
  left: 459px;
  opacity: 0;
}
.screen6.now .car .say{
  opacity:1;
  transition: all 0.5s linear 6s;
}
.screen6 .personImg{
  position: absolute;
  bottom: 109px;
  right: 42px;
  transform:scale(0);
  transform-origin:right bottom;
  z-index: 1001;
}
.screen6.now .personImg{ 
  animation:personImg 2s linear 7s forwards;
}
@keyframes personImg{
  from{
    transform:scale(0);
  }
  50%{
    transform:none;
  }
  100%{
    transform: translate(-170px,5px);
  }
}
.screen6 .door{
  position: absolute;
  bottom: 117px;
  right: 52px;
  opacity: 0;
}
.screen6.now .door{
  opacity: 1;
  transition: opacity 0.5s linear 6.5s;
}
.screen6 .text{
    position: absolute;
    top: 80px;
    left: 140px;
}
.screen6 .text img:last-child{
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
}
.screen6.now .text img:first-child{
    opacity: 0;
    transition: all 0.1s linear 6s;
}
.screen6.now .text img:last-child{
    opacity: 1;
    transition: all 1s linear 6s;
}
/*第七屏*/
.screen07{
    background: url("../images/07-bg.png") no-repeat center bottom;
}
.screen07 .star{
    position: absolute;
    left: 157px;
    top: 141px;
}
.screen07 .star img{
    float: left;
    margin-right: 6px;
    opacity: 0;
}
.screen07 .star.show img{
    opacity: 1;
    transition: all 0.3s linear;
}
.screen07 .text{
    position: absolute;
    left: 157px;
    top: 180px;
    opacity: 0;
    transform-origin: left bottom;
    transform: scale(0);
}
.screen07 .text.show{
    opacity: 1;
    animation: text07 1.5s linear 2.3s forwards;
}
@keyframes text07 {
    from{}
    70%{
        transform: scale(1.5);
    }
    to{
        transform: none;
    }
}
/*第八屏*/
.screen08{
    background: url("../images/08-bg.png");
}
.screen08 .btn{
    width: 389px;
    height: 160px;
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}
.screen08 .btn img:last-child{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.screen08 .btn:hover img:last-child{
    opacity: 1;
}
.screen08 .again{
    position: absolute;
    right: 0;
    top: 80px;
}
.screen08 .hand{
    position: absolute;
    left:50%;
    top: 100px;
    transform: translateX(-50%);
}